/sources/Confirm-Address for Outlook 2013/bin
/sources/Confirm-Address for Outlook 2013/obj
*.pfx
*.cer
/sources/CA-Outlook-xUnitTest/bin
/sources/CA-Outlook-xUnitTest/obj
.vs/
/distro-workbench/dest
/distro-workbench/*.7z
/sources/packages
